@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
* {
    font-family: 'Oxygen', sans-serif;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #cadee8;
}

.everything {
    background-color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.container {
    padding: 1.5em;
    border-radius: 30px;
    width: 100%;
    max-width: 610px;
    margin: 10em;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1 {
    text-align: center;
    position: fixed;
    top: 3%;
    left: 35%;
    color: #575F63;
    flex-direction: column;
}

.date {
    display: inline-block;

}
.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}

.button{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(47, 35, 35);
    outline: 2px solid #89CFF0;
    padding: 5px 5px;
    position: relative;
    right: -40px;
    overflow: hidden;
    transition: color 1s;
    display: inline-block;
}

.button:hover {
    color: #fff;
}

.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #89CFF0;
    z-index: -1;
    transition: width 1s;
}

.button:hover::before {
    width: 150%;
    left: 0;
    right: 0%;
    opacity: 1;
}

input {
    background: #7c7c7c2b;
    border-radius: 18px;
    color: black;
    padding: 10px 10px;
    top: -10px;

}

h2 .temp {
    margin: 0;
}

.description {
    text-transform: capitalize;
}

.everything .search {
    display: flex;
    align-items: center;
    width: fit-content;
}

.flex {
    display: flex;
    align-items: center;
    animation: pulse 2s infinite;
    
}

.search input {
    border: none;
    height: 55px;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.weather {
    margin-top: 20px;
    overflow: hidden;
    width: 400px;
    align-items: center;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}


.weather.loading:active{
    visibility: visible;
    color: black;
    position: absolute;
    top: 0;
    animation: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
}


@keyframes typing {
    from { width: 0 }
    to { width: 32% }
  }

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}
